{% extends "base.html" %}


{% block title %} Gestion materias {% endblock %}

{% block cuerpo %}
{% load static %}
<div class="row"> <!--la fila-->
    <div class="col-sm-12  col-md-4 col-lg-4 col-xl-4"> <!--colomna izq-->
        
        <h1>Cliente</h1>
            <!--  la tabla  -->

        <div class="car-body">
            <form action="registrarCliente/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtid_Cliente" name="txtid_Cliente" class="form-control" placeholder="ID Cliente" minlength="1" maxlength="6" required>
                </div>

                <div class="form-group ">
                    <input type="text" id="txtNombre" name="txtNombre"  class="form-control" placeholder="Nombre(s)" minlength="1" maxlength="100" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtApellido" name="txtApellido"  class="form-control" placeholder="Apellido(s)" min="1" max="100" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtSexo" name="txtSexo"  class="form-control" placeholder="Sexo" min="1" max="20" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtDireccion" name="txtDireccion"  class="form-control" placeholder="Direccion" min="1" max="180" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtNum_Tel" name="txtNum_Tel"  class="form-control" placeholder="Numero de telefono" min="1" max="10" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtEmail" name="txtEmail"  class="form-control" placeholder="Email" min="1" max="180" required>
                </div>

                <div class="car-body">
                <button type="submit" class="btn btn-primary">guardar Cliente</button>
                </div>

            </form>
        </div>
                <!--  la tabla  -->
                
    </div><!--colomna izq-->





<div class="row"> 
    <div class="col-sm-12  col-md-8 col-lg-8 col-xl-8"> <!--colomna derecha-->
        
        <center>
            <h1>listado de Clientes</h1>
            <img class="w-59" src="{% static 'img/clientes.jpg'%}" alt="nava" width="200" height="120">
        </center>
        
                <!--  la tabla  -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">id_cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Num_Tel</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for m in listaClientes %}

                        <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.Id_Cliente}}</td>
                        <td>{{m.Nombre}}</td>
                        <td>{{m.Apellido}}</td>
                        <td>{{m.Sexo}}</td>
                        <td>{{m.Direccion}}</td>
                        <td>{{m.Num_Tel}}</td>
                        <td>{{m.Email}}</td>
                        <td><a href="seleccionarCliente/{{m.Id_Cliente}}" class="btn btn-info">editar</a> </td><!--falta-->
                        <td><a href="borrarCliente/{{m.Id_Cliente}}" class="btn btn-danger">borrar</a> </td><!--falta-->

                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
    </div><!--colomna derecha-->
</div>
</div><!--la fila-->

{% endblock %}