{% extends "base.html" %}


{% block title %} Gestion materias {% endblock %}

{% block cuerpo %}
{% load static %}
<div class="row"> <!--la fila-->
    <div class="col-sm-12  col-md-4 col-lg-4 col-xl-4"> <!--colomna izq-->
        
        <h1>Sucursal</h1>
            <!--  la tabla  -->

        
        <div class="car-body">
            <form action="registrarSucursal/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtId_Sucursal" name="txtId_Sucursal" class="form-control" placeholder="ID Sucursal" minlength="1" maxlength="6" required>
                </div>

                <div class="form-group ">
                    <input type="text" id="txtLocolizacion" name="txtLocolizacion"  class="form-control" placeholder="Locolizacion" minlength="1" maxlength="100" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtNum_Empleados" name="txtNum_Empleados"  class="form-control" placeholder="Numero de Empleados" min="1" max="100" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtGanancias" name="txtGanancias"  class="form-control" placeholder="Ganancias" min="1" max="20" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtTelefono" name="txtTelefono"  class="form-control" placeholder="Telefono" min="1" maxlength="10" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtEncargado" name="txtEncargado"  class="form-control" placeholder="Encargado" min="1" max="10" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtEmail" name="txtEmail"  class="form-control" placeholder="Email" min="1" max="180" required>
                </div>

                <div class="car-body">
                <button type="submit" class="btn btn-primary">guardar Cliente</button>
                </div>

            </form>
        </div>
                <!--  la tabla  -->
                
    </div><!--colomna izq-->





<div class="row"> 
    <div class="col-sm-12  col-md-8 col-lg-8 col-xl-8"> <!--colomna derecha-->
        
        <center>
            <h1>listado de Sucursal</h1>
        <img class="w-59" src="{% static 'img/sucursal.jpg'%}" alt="nava" width="300" height="250">
        </center>
                <!--  la tabla  -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id_Sucursal</th>
                        <th scope="col">Locolizacion</th>
                        <th scope="col">Num_Empleados</th>
                        <th scope="col">Ganancias</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Encargado</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for m in listaSucursales %}

                        <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.Id_Sucursal}}</td>
                        <td>{{m.Locolizacion}}</td>
                        <td>{{m.Num_Empleados}}</td>
                        <td>{{m.Ganancias}}</td>
                        <td>{{m.Telefono}}</td>
                        <td>{{m.Encargado}}</td>
                        <td>{{m.Email}}</td>
                        <td><a href="seleccionarSucursal/{{m.Id_Sucursal}}" class="btn btn-info">editar</a> </td><!--falta-->
                        <td><a href="borrarSucursal/{{m.Id_Sucursal}}" class="btn btn-danger">borrar</a> </td><!--falta-->

                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
    </div><!--colomna derecha-->
</div>
</div><!--la fila-->

{% endblock %}