{% extends "index.html" %}

{% block cuerpo %}

<div class="row"><!--fila en editar-->

    <div class="col-md-4 offset-md-4">
        <h2>Editar materia</h2>
        <!--Aqui codigo tarjeta-->

        <!--  la tabla  -->

        <!--txt codigo-->
        <div class="car-body">
            <form action="/editarEmpleado/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtid_Empleado" name="txtid_Empleado" class="form-control" value="{{listaEmpleados.Id_Empleado}}" placeholder="ID Empelado" minlength="1" maxlength="6" readonly required>
                </div>

                <div class="form-group ">
                    <input type="text" id="txtNombre" name="txtNombre"  class="form-control" value="{{listaEmpleados.Nombre}}" placeholder="Nombre(s)" minlength="1" maxlength="100" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtApellido" name="txtApellido"  class="form-control" value="{{listaEmpleados.Apellido}}" placeholder="Apellido(s)" min="1" max="100" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtSexo" name="txtSexo"  class="form-control" value="{{listaEmpleados.Sexo}}" placeholder="Sexo" min="1" max="20" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtDireccion" name="txtDireccion"  class="form-control" value="{{listaEmpleados.Direccion}}" placeholder="Direccion" min="1" max="180" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtNum_Tel" name="txtNum_Tel"  class="form-control" value="{{listaEmpleados.Num_Tel}}" placeholder="Numero de telefono" min="1" maxlength="10" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtEmail" name="txtEmail"  class="form-control" value="{{listaEmpleados.Email}}" placeholder="Email" min="1" max="180" required>
                </div>

                <div class="form-group">
                    <input type="text" id="txtNomina" name="txtNomina"  class="form-control" value="{{listaEmpleados.Nomina}}" placeholder="Nomina" min="1" max="180" required>
                </div>


                <div class="car-body">
                <button type="submit" class="btn btn-primary">guardar Cliente</button>
                </div>

            </form>
        </div>
                <!--  la tabla  -->

        <!--Aqui codigo tarjeta-->
    </div>

</div>



{% endblock  %}